<nav class="bg-white shadow">
  <div class="container mx-auto px-4">
    <div class="w-full flex flex-col py-4">
      <a class="text-xl font-bold text-gray-800" href="/">Food App</a>
      <div>
        <ul class="container flex justify-between">
          <li><a class="text-gray-800 hover:text-gray-600" href="/">Home</a></li>
          <li><a class="text-gray-800 hover:text-gray-600" href="/weekly_menu">Weekly Menu</a></li>
          <li><a class="text-gray-800 hover:text-gray-600" href="/food_stock">Food Stock</a></li>
          <li><a class="text-gray-800 hover:text-gray-600" href="/recipes">Recipes List</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>