<%= turbo_frame_tag 'ingredient_frame' do %>
  <%= form_with model: @ingredient do |form| %>
    <div class="relative">
      <%= form.text_field :name, class: "border border-gray-300 rounded-md px-4 py-2 w-full placeholder-gray-400 focus:outline-none focus:border-indigo-500", placeholder: "Type here..." %>
      <%= form.submit "Submit", class: "absolute inset-y-0 right-0 px-4 py-2 bg-indigo-500 text-white rounded-r-md hover:bg-indigo-600 focus:outline-none" %>
    </div>
  <% end %>
<% end %>
